{% load static %}
<header class="masthead mb-auto">
    <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
            <a href="{% url 'index' %}">
                <img src="{% static '/assets/logo/logo.png' %}" alt="Logo do Gabe's grow" height="50">
            </a>
            <div class="row">
                <a class="col col-md-6" href="{% url 'data' %}">data</a>
                <a class="col col-md-6" href="{% url 'stageList' %}">stages</a>
                <a class="col col-md-6" href="{% url 'config' %}">config</a>
            </div>
        </nav>
    </div>
</header>
