{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div>
    <p>
        Last Update: {{ config.lastUpdate }}
    </p>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="watering" id="watering">
        <label class="form-check-label" for="watering" value="{{ config.watering }}">Autowatering</label>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {%  for story in history %}
            <tr>
                <td>{{ story.date }}</td>
                <td>{{ story.description }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}