{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div>
    {%  for field in form.visible_fields %}
        <div class="forms-inputs mb-4" style="margin-bottom: 5px;">
            <label for="{{ field.id_for_label }}" class="col-6 col-md-6" style="margin-bottom: 5px;">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
    <div class="mt-1">
        {% if config.stageType == 'VG' %}
            <img src="{% static 'assets/images/veg.png' %}" alt="Vegetative stage">
        {% elif config.stageType == 'FL' %}
            <img src="{% static 'assets/images/flow.png' %}" alt="Flowering stage">
        {% else %}
            <img src="{% static 'assets/images/pre.png' %}" alt="Pre-harvest stage">
        {% endif %}
    </div>

    <p class="mt-5">
        Last Update: {{ config.lastUpdate }}
    </p>

</div>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {%  for story in history %}
            <tr>
                <td>{{ story.date }}</td>
                <td>{{ story.description }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}