{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<main role="main" class="inner cover mt-5">
    <table>
        <thead>
            <tr>
                <th>Stage</th>
                <th>Hours on</th>
                <th>pH</th>
                <th>Temp. (°C)</th>
                <th>Air Humid.</th>
                <th>Soil Humid.</th>
            </tr>
        </thead>
        <tbody>
            {%  for stage in stages %}
                <td>{% stage.type %}</td>
                <td>{% stage.lightOff - stage.lightOn %}</td>
                <td>{% stage.tempMin %} - {% stage.tempMax %}</td>
                <td>{% stage.airHumMin %} - {% stage.airHumMax %}%</td>
                <td>{% stage.soilHumMin %} - {% stage.soilHumMax %}%</td>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
