{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<main role="main" class="inner cover mt-5">
    <form>
        {% csrf_token%}
        <div class="row" align="center">
            {%  for field in form.visible_fields %}
                <div class="col-6 col-md-6" style="margin-bottom: 5px;">
                    <label for="{{ field.id_for_label }}" class="col-6 col-md-6" style="margin-bottom: 5px;">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <div class="col-12 col-md-12" style="margin-bottom: 5px;">
                <button class="btn btn-success col-6 col-md-6" style="padding: top 5px;" type="submit">login</button>
            </div>
        </div>
    </form>
</main>
{% endblock %}
